

@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: teal;
}
.signupform{
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 150px;
   padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}  

